* {
  background-color: #000000;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

header {
  margin-left: 350px;
}

.typewriter {
  font-size: 50px;
  font-weight: bold;
  color: rgb(233, 177, 254);
}

.sidefoot {
  width: 350px;
  background-color: black;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}

.main-content {
  margin-left: 320px;
  padding: 20px;
}

.main-content h4 {
  color: rgb(173, 138, 206) !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
  color: rgb(233, 177, 254) !important;
}

.sidebar {
  position: sticky;
  top: 20px;
  width: 300px;
  max-height: 100vh;
  overflow-y: auto;
  background-color: black;
}

.sidebar .list-group-item.active {
  background-color: rgb(233, 177, 254) !important;
  border-color: rgb(233, 177, 254);
  color: #000000;
}

.sidebar .list-group-item {
  background-color: black;
  color: white;
}

.sidebar .list-group-item:hover {
  background-color: black;
  color: rgb(233, 177, 254);
}

a.btn {
  background-color: black;
  color: white;
}

a.btn:hover {
  color: rgb(233, 177, 254);
}

h4#list-item-2 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  color: white;
  font-size: 18px;
}

p i {
  color: rgb(233, 177, 254);
  margin-right: 10px;
}

p a {
  color: white;
  text-decoration: none;
}

p a:hover {
  color: rgb(233, 177, 254);
}

.card-body {
  height: 310px;
  position: relative;
  overflow-y: auto;
  border-radius: 7px;
}

iframe {
  height: 600px;
}
