.top-navbar .social-icons a {
  color: white;
  margin-right: 15px;
  font-size: 1.4rem;
  display: inline-flex;
  align-items: center;
  transition: 
    color 0.3s ease,
    transform 0.3s ease;
}


.top-navbar .social-icons a svg {
  transition: 
    color 0.3s ease,
    transform 0.3s ease;
}


.top-navbar .social-icons a:hover {
  color: rgb(199, 183, 213);
  transform: translateY(-3px);
}


.top-navbar .social-icons a:hover svg {
  color: rgb(199, 183, 213);
}